<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="{{url_for('static',filename='logout.css')}}">
</head>

<body>
    <header>
        <h1>Health Risk Analyzer</h1>
    </header>
    <div class="container">
        <h2>You have been logged out</h2>
        <p><a href="/login" class="btn">Login again</a></p>
    </div>
</body>
</html>

